<div class="row">
    <div class="card px-0 border border-primary-subtle rounded-3">
        <div class="card-header text-primary-emphasis bg-primary-subtle" style="border-radius: 0.25rem 0.25rem 0 0;">
            <h5 class="card-title px-0 my-0">Patient Information</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="col-sm-5">Identifiers</th>
                        <th scope="col" class="col-sm-4">Disease</th>
                        <th scope="col" class="col-sm-3">Metrics</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Patient ID:&nbsp;&nbsp; {{ report.metadata.patient_id }}</td>
                        <td>Code:&nbsp;&nbsp; {{ report.metadata.code }}</td>
                        <td>Tumor Purity:&nbsp;&nbsp; {{ report.metadata.purity }}</td>
                    </tr>
                    <tr>
                        <td>Tumor Barcode:&nbsp;&nbsp; {{ report.metadata.tumor_barcode }}</td>
                        <td>Ontology:&nbsp;&nbsp; {{ report.metadata.ontology }}</td>
                        <td>Tumor Ploidy:&nbsp;&nbsp; {{ report.metadata.ploidy }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
