<div id="evidenceModal_resistance_{{ index }}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Evidence for
                    {{
                    '{}: {}'.format(df.loc[index, 'feature_type'], df.loc[index, 'resistance_feature_display'])
                    }}
                </h4>
            </div>

            <div class="modal-body">
                <p>The following assertion was the strongest match to the observed molecular feature.</p>
                <table class="table table-hover table-striped table-condensed">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-9">
                    </colgroup>

                    <tbody>
                        <tr>
                            <td>Evidence:</td>
                            <td>{{ df.loc[index, 'resistance_predictive_implication'] }}</td>
                        </tr>
                        <tr>
                            <td>Molecular feature:</td>
                            <td>{{ df.loc[index, 'resistance_feature_display'] }}</td>
                        </tr>
                        <tr>
                            <td>Assertion:</td>
                            <td>
                                {% if df.loc[index, 'resistance_oncotree_code'] != "" %}
                                    {{
                                        'Resistance to {} in {} ({})'.format(
                                        df.loc[index, 'resistance_therapy_name'],
                                        df.loc[index, 'resistance_oncotree_term'],
                                        df.loc[index, 'resistance_oncotree_code'])
                                    }}
                                {% else %}
                                    {{
                                        'Resistance to {} in {}'.format(
                                        df.loc[index, 'resistance_therapy_name'],
                                        df.loc[index, 'resistance_oncotree_term'])
                                    }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>{{ df.loc[index, 'resistance_description'] }}
                    <a href="{{ df.loc[index, 'resistance_url'] }} " target=_blank>[source]</a></p>
                </p>

                <br>

                {% if matches[df.loc[index, 'therapy_resistance-matches-tablename']] %}
                    <p>The following assertions are equivalent matches within this patient's ontology or stronger in another cancer type.</p>
                    <table class="table table-hover table-striped table-condensed">
                         <colgroup>
                            <col class="col-xs-4">
                            <col class="col-xs-8">
                        </colgroup>

                        <thead>
                            <tr>
                                <th>Molecular feature & evidence</th>
                                <th>Assertion & rationale</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for match in matches[df.loc[index, 'therapy_resistance-matches-tablename']] %}
                            <tr>
                                <td>
                                    {{ match['feature_display'] }}
                                    <br>
                                    {{ match['predictive_implication'] }}
                                </td>
                                <td>{{ 'Resistance to {} in {} ({})'.format(match['therapy_name'],
                                        match['oncotree_term'], match['oncotree_code'])
                                    }}
                                    <br>
                                    {{ match['description'] }}
                                    <a href="{{ match['url'] }}" target=_blank>[source]</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<a data-toggle="modal" data-target="#evidenceModal_resistance_{{ index }}">
    [More details]
</a>