<div id="evidenceModal_sensitive_{{ index }}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Evidence for
                    {{
                    '{}: {}'.format(report.alterations.loc[index, 'feature_type'], report.alterations.loc[index, 'sensitive_feature_display'])
                    }}
                </h4>
            </div>

            <div class="modal-body">
                <p>The following assertion was the strongest match to the observed molecular feature.</p>
                <table class="table table-hover table-striped table-condensed">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-9">
                    </colgroup>

                    <tbody>
                        <tr>
                            <td>Evidence:</td>
                            <td>{{ report.alterations.loc[index, 'sensitive_predictive_implication'] }}</td>
                        </tr>
                        <tr>
                            <td>Molecular feature:</td>
                            <td>{{ report.alterations.loc[index, 'sensitive_feature_display'] }}</td>
                        </tr>
                        <tr>
                            <td>Assertion:</td>
                            <td>
                                {% if report.alterations.loc[index, 'sensitive_oncotree_code'] != "" %}
                                    {{
                                        'Sensitivity to {} in {} ({})'.format(
                                        report.alterations.loc[index, 'sensitive_therapy_name'],
                                        report.alterations.loc[index, 'sensitive_oncotree_term'],
                                        report.alterations.loc[index, 'sensitive_oncotree_code'])
                                    }}
                                {% else %}
                                    {{
                                        'Sensitivity to {} in {}'.format(
                                        report.alterations.loc[index, 'sensitive_therapy_name'],
                                        report.alterations.loc[index, 'sensitive_oncotree_term'])
                                    }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>{{ report.alterations.loc[index, 'sensitive_description'] }}
                    <a href="{{ report.alterations.loc[index, 'sensitive_url'] }} " target=_blank>[source]</a></p>

                <br>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<a data-toggle="modal" data-target="#evidenceModal_sensitive_{{ index }}">
    [More details]
</a>