<div id="implicationModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About: Predictive Implication</h4>
      </div>
      <div class="modal-body">
        <p>Molecular Oncology Almanac classifies each curated assertion with a "predictive implication" that describes the strength of evidence for a given relationship between a molecular feature and clinical action. The evidence levels used are:</p>
        <table class="table table-hover table-striped table-condensed">
			<colgroup>
                <col class="col-xs-2">
                <col class="col-xs-10">
            </colgroup>
        	<thead>
        		<th>Evidence level</th>
        		<th>Description</th>
        	</thead>
        	<tbody>
        		<tr>
        			<td>FDA-Approved</td>
        			<td>The Food and Drug Association (FDA) recognizes an association between the alteration and recommended clinical action.</td>
        		</tr>
        		<tr>
        			<td>Guideline</td>
        			<td>This relationship is catalogued as a guideline for standard of care treatment.</td>
        		</tr>
        		<tr>
        			<td>Clinical trial</td>
        			<td>The alteration is or has been used as an eligibility criterion for a clinical trial.</td>
        		</tr>
				<tr>
        			<td>Clinical evidence</td>
        			<td>The relationship is reported in a clinical study that did not directly involve a clinical trial.</td>
        		</tr>
        		<tr>
        			<td>Preclinical evidence</td>
        			<td>This relationship is reported in a study involving mice, cell lines, or patient derived models.</td>
        		</tr>
				<tr>
        			<td>Inferential evidence</td>
        			<td>The relationship is inferred as a result of mathematical modeling or an association between molecular features.</td>
        		</tr>
        	</tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>