<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Variants and Features that may be Biologically Relevant</h4>
    </div>

    <div class="panel-body">
        <table class="table table-hover table-striped table-condensed">
            {% include 'report_table/columns_biological.html' %}
            <tbody>
                {% for label, group in df[df['score_bin'] == 'Biologically Relevant'].groupby('feature_type') %}
                <tr>
                    <td>{{ label }}</td>
                    <td>{{ ', '.join(group['feature_display'].sort_values().tolist()) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
